@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #afb7ef; /* Darker background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #f7d716; /* Bright yellow */
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #27293d; /* Subtle dark */
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #f7d716; /* Bright yellow border */
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #e0e0e0; /* Light grey text */
}

.todo-input::placeholder {
  color: #b2b2b2; /* Softer grey placeholder */
}

.todo-btn {
  background: #f7d716; /* Bright yellow button */
  color: #333c83; /* Dark blue text */
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333c83; /* Darker blue */
  color: #e0e0e0; /* Light grey text */
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
  color: #f75c03; /* Bright orange */
}

.incompleted {
  color: #e0e0e0; /* Light grey */
  cursor: pointer;
}

.completed {
  color: #757575; /* Subtle grey for completed */
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon {
  color: #e7b416; /* Yellow */
  cursor: pointer;
}

.delete-icon {
  color: #f75c03; /* Bright orange */
  cursor: pointer;
}
